{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
  .btnFem{
    text-align: center;
  }
  .btnAjout{
    display: flex;
    justify-content: center;
  }
</style>
{% endblock %}

{% block title %}Ajout Femme{% endblock %}

{% block content %}
<div id="page-inner">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="card-title">
            <div class="title">Ajouter Enfant</div>
          </div>
        </div>
        {{ form_start(form) }}
        <div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-md-12">
                <div class="sub-title">Nom Coinjoint</div>
                {{ form_widget(form.coinjoint, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="sub-title">Nom Coinjointe</div>
                {{ form_widget(form.coinjointe, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>
            <div class="row btnAjout">
              <div class="form-group col-md-4 btnFem">
                <button type="submit" class="btn btn-success btn-block">
                  Ajouter
                </button>
              </div>
            </div>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
