{% extends 'base.html.twig' %}

{% block title %}Sante{% endblock %}

{% block content %}
<div id="page-inner">   
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-4">DEPARTEMENT SANTE</div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="panel-body">
            {{ include('santes/_form.html.twig') }}
            <a href="{{ path('app_dashboard_read_sante') }}" class="btn btn-info">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}
