{% extends 'base.html.twig' %}

{% block title %}Edit Commity{% endblock %}

{% block content %}
<div id="page-inner">   
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-4">LES COMMUTES</div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="panel-body">
            {{ include('commity/_form.html.twig', {'button_label': 'Modifier'}) }}
            <a href="{{ path('app_dashboard_commity_read') }}" class="btn btn-info">Retour à la liste</a>
            {{ include('commity/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
