{% extends 'base.html.twig' %}

{% block title %}Ajouter Social{% endblock %}

{% block content %}
    <div id="page-inner">   
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">DEPARTEMENT SOCIAL</div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                    <a href="{{ path('app_dashboard_social_create') }}" class="btn btn-primary" style="float: right; font-size: x-small;">Ajouter Social</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {{ include('socials/_form.html.twig') }}
            <a href="{{ path('app_dashboard_social_read') }}">Retour à la liste</a>
        </div>
{% endblock %}
