<div class="row">
    <div class="col-sm-6 col-xs-12">  
        <div class="panel panel-default chartJs">
            <div class="panel-heading">
                <div class="card-title">
                    <div class="title">Line Chart</div>
                </div>
            </div>
            <div class="panel-body">
                <canvas id="line-chart" class="chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default chartJs">
            <div class="panel-heading">
                <div class="card-title">
                    <div class="title">Bar Chart</div>
                </div>
            </div>
            <div class="panel-body">
                <canvas id="bar-chart" class="chart"></canvas>
            </div>
        </div>
    </div>
</div>