{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        video {
            max-width: 100%;
            width: 320px;
        }
        #page-content{
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
<div id="page-inner">
    <div class="row">
        <div class="col-md-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="card-title">
                        <div class="title text-center">APPEL VIDEO</div>
                    </div>
                </div>
                <div class="pannel-body"> 
                    <video autoplay></video>

                    <button 
                        style="margin: 2rem 0;height: 2rem; width: 8rem;" 
                        type="button" 
                        id="start-button">
                        Start Video
                    </button>

                    <button 
                        hidden 
                        style="margin: 2rem 0;height: 2rem; width: 8rem;" 
                        type="button" 
                        id="stop-button">
                        Stop Video
                    </button>

                </div>  
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <script>

        $("#start-button").click(function(){
            console.log('test')
            $(this).hide();
            $('#stop-button').show();

            const constraints = {
                video: {
                width: 500,     
                height: 500
                }
            }

            navigator.mediaDevices.getUserMedia(constraints)
            .then((stream) => {
                video.srcObject = stream
                video.play()
            })
            .catch((err) => {
                console.log(err);
            })

        })

        function stopVideo (){
            startButton.hidden = false
            stopButton.hidden = true

            video.srcObject = null
        }

        /*const mediaStreamConstraints = {
            video: true,
            audio:true
        };

        const localVideo = document.getElementById('video');
        console.log(localVideo)

        let localStream;

        function gotLocalMediaStream(mediaStream) {
            localStream = mediaStream;
            localVideo.srcObject = mediaStream;
        }

        function handleLocalMediaStreamError(error) {
            console.log('navigator.getUserMedia error: ', error);
        }

        navigator.mediaDevices.getUserMedia(mediaStreamConstraints)
            .then(gotLocalMediaStream).catch(handleLocalMediaStreamError);*/

    </script>
{% endblock %}

