{% extends 'base.html.twig' %}

{% block title %}New Logement{% endblock %}

{% block content %}
    <div id="page-inner">   
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">DEPARTEMENT LOGEMENT</div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                    <a href="{{ path('app_dashboard_logement_create') }}" class="btn btn-primary" style="float: right; font-size: x-small;">Ajouter Logement</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
        {{ include('logements/_form.html.twig') }}
        <a href="{{ path('app_dashboard_logement_read') }}">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
