{% extends 'base.html.twig' %}

{% block title %}Email{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Nous contactez</h1>
    {{ form(contactForm) }}
{% endblock %}
