{% extends 'base.html.twig' %} 

{% block content %}
<div id="page-inner">
    <div class="row">
        <div class="col-md-12 col-sm-4">
            <div class="well well-lg">
                <h4 class="text-center">{{ title }}</h4>
                <p></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}