{% extends 'base.html.twig' %} 

{% block content %}
<div id="page-inner">
    <div class="row">
        <div class="col-md-12 col-sm-4">
            <div class="well well-lg">
                <div class="row" style="display:flex; justify-content: space-between;">
                    <div class="col-md-4 text-center">Entity</div>
                    <div class="col-md-4 text-center">Files</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}